.app{
  display: grid;
  place-items: center;
  background-color: #eeeded;
  height: 100vh;
  
}
.app__body{
  display: flex;
  background-color: #d1bfbf86;
  height: 90vh;
  width: 90vw ;
  box-shadow: -5px 8px 20px -6px rgba(241, 116, 116, 0.75);
}